




header{
    background-color: rgba(0, 0, 0, 0.404);
    font-family: Arial, Helvetica, sans-serif;

}
h2 {
    color: silver;
}
#about {
    color: tan;
    font-size: 50px;
    
}
body {
background-color: antiquewhite;
text-align: center;
}
main{
height: 350px;
}
p {
    margin: 10px;
}
#history { font-size: 30px;
    background-color: aquamarine;

}
#paragragh1 {
background-color: wheat;
font-size: 30px;
}
#paragragh2 {
background-color: snow;
font-size: 30px;
}
#paragragh3{
background-color: cornsilk;
font-size: 25px;
}
#paragragh4{
background-color: lightpink;
font-size: 30px;
}
footer {
    background-color:rgba(0, 0, 0, 0.253);
    margin: 20px;
}